<div class="col-xs-12" style="height:50px;"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Edit Movie: <%= @movie.title %></h2>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3><a href="/movies" class="btn btn-default">Back to All Movies</a></h3>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <ul>
        <li>Year: <%= @movie.year%></li>
        <li>IMDB: <%= @movie.imdb%></li>
        <li>PASS?: <%= @movie.binary%></li>
        <li>Detail: <%= @movie.detail%></li>
        <li>Director: <%= @movie.director%></li>
        <li>Actors: <%= @movie.actors.map { |actor| actor.name }.join(", ")%></li>
      </ul>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <form action="/movies" method="POST">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <p>Title: <input type="text" name="movie[title]"></p>
        <p>Year: <input type="text" name="movie[year]"></p>
        <p>IMDB: <input type="text" name="movie[imdb]"></p>
        <p>Pass?: <input type="radio" name="movie[binary]" value="PASS" checked> Pass<br>
          <input type="radio" name="movie[binary]" value="FAIL"> Fail</p>
          <p>Test: <select>
            <option name="movie[test]" value="notalk">Women don't talk to each other</option>
            <option name="movie[test]" value="ok">Passed!</option>
            <option name="movie[test]" value="men">Women only talk about men</option>
            <option name="movie[test]" value="nowomen">Fewer than two women</option>
            <option name="movie[test]" value="dubious">Passes, barely.</option>
          </select></p>
          <p>Director:</p>
          <select>
            <% @directors.each do |director| %>
            <option name="movie[director_id]" value=<%="#{director.id}"%>><%=@director.name%></option>
            <% end %>
          </select>

          <p>Actors:</p>
          <% @actors.each do |actor|%>
          <p><label><%= actor.name%></label>
            <input type="checkbox" name="movie[actor_ids][]" value=<%="#{actor.id}"%> ></p>
            <%end%>

            <p><input class="btn btn-default" type="submit" name="submit" value="Submit"></p>
          </form>
        </div>
        <div class="col-md-1"></div>
      </div>
