<div class="col-xs-12" style="height:50px;"></div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="text-center">
    <h1><%= @actor.name %>'s Bechdel Rating</h1>
  </div>
  </div>
</div>
<div class="row">
<div class="col-xs-12" style="height:50px;"></div>
<% movies = @actor.movies.map {|movie| movie.binary} %>
<% count = movies.count("PASS")%>
<% rating = (count.to_f / movies.size.to_f) * 100 %>
<div class="col-lg-8 col-lg-offset-2">
<h1><%= rating %>% of <%=@actor.name%>'s films pass the test.</h1>
</div>
<div class="col-xs-12" style="height:50px;"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Pass?</th>
        <th>Partial?</th>
        <th>Director</th>
        <th>Co-stars</th>
      </tr>
      <% @actor.movies.each do |movie| %>
      <tr>
        <td><a href="/movies/<%=movie.id%>" ><%= movie.title %></a></td>
        <td><%= movie.year %></td>
        <td><%= movie.binary %></td>
        <td><% detail = movie.detail %>
          <% if detail == "ok"%>
          <%="Passed!"%>
          <% elsif detail == "dubious" %>
          <%= "Passes, barely" %>
          <% elsif detail == "men" %>
          <%= "Women only talk about men" %>
          <% elsif detail == "notalk"%>
          <%= "Women don't talk to each other" %>
          <% elsif detail == "nowomen"%>
          <%= "Fewer than two women" %>
          <% end %>
        </td>
        <td><a href="/directors/<%=movie.director.id%>"><%= movie.director_id.nil? ? "none" : movie.director.name %></a></td>
        <td><%= movie.actors.nil? ? "none" : movie.actors.map {|actor| "<a href='/actors/#{ actor.id}'>#{actor.name}</a>" }.join(", ") %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>
