<div class="col-xs-12" style="height:50px;"></div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="text-center">
    <h1>Does "<%= @movie.title %>" Bechdel?</h1>
  </div>
  </div>
</div>
<div class="row">

  <img src="<%=@poster%>" class="img-responsive center-block" alt="">

</div>
<div class="col-xs-12" style="height:50px;"></div>

  <div class="row">
<div class="text-center">
  <h2><%= @movie.binary %></h2>
  <h3><% detail = @movie.detail %>
    <% if detail == "ok"%>
    <%="Passed!"%>
    <% elsif detail == "dubious" %>
    <%= "Passes, barely" %>
    <% elsif detail == "men" %>
    <%= "Women only talk about men" %>
    <% elsif detail == "notalk"%>
    <%= "Women don't talk to each other" %>
    <% elsif detail == "nowomen"%>
    <%= "Fewer than two women" %>
    <% end %></h2>
</div>
  </div>

  <div class="row">
    <div class="text-center">
      <a href="/" class="btn btn-default">Go Back</a>
    </div>
  </div>
  <div class="col-xs-12" style="height:50px;"></div>
